#game {
position: absolute;
top: 400px;
left: 600px;
}

#game :hover {
position: absolute;
top: 2px;
left: 2px;
}

#book {
position: absolute;
top: 270px;
left: 650px;
}

#book :hover {
position: absolute;
top: 2px;
left: 2px;
}

#scroll {
position: absolute;
top: 70px;
left: 800px;
/*background-color: #ffffff*/
}


#menu {
	position: absolute ;
	top: 0px ;
	left: 750px ;
