

.white-line {
    position: absolute;
    opacity: 0.5;
    z-index: 0;
    top: 0px;
    left: 10px;
}

#book-contents {
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
}
#book-contents :hover {
    position: absolute;
    width: 416px;
    height: 104px;
    top: 0px;
    left: 10px;
}

#game-contents {
    position: absolute;
    z-index: 10;
    top: 300px;
    left: 70px;
}
#game-contents :hover {
    position: absolute;
    width: 416px;
    height: 104px;
    top: 0px;
    left: 10px;
}


#one input{
  display: none;
}
}#one input:checked img{
    opacity: 0;
}

#one input+#ff .a{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: -300px;
    width: 40%;
    height: 100%;
}
#one input:checked+#ff .a{
    opacity: 1;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100;
}

#one input+#ff h3{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    top: 150px;
    left: -300px;
}
#one input:checked+#ff h3{
    opacity: 1;
    z-index: 20;
    position: relative;
    left: 0px;
}

#one input+#ff .b{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    height: 50px;
    top: 70px;
    left: -300px;
}
#one input:checked+#ff .b{
    opacity: 1;
    z-index: 21;
    position: absolute;
    height: 50px;
    left: 450px;
}





#two input{
  display: none;
}
}#two input:checked img{
    opacity: 0;
}

#two input+#dq .c{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    top: 0px;
    left: -300px;
    width: 40%;
    height: 100%;
}
#two input:checked+#dq .c{
    opacity: 1;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    height: 100;
}

#two input+#dq h3{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    top: 150px;
    left: -300px;
}
#two input:checked+#dq h3{
    opacity: 1;
    z-index: 20;
    position: relative;
    left: 0px;
}

#two input+#dq .d{
    opacity: 0;
    z-index: 20;
    transition: 0.5s;
    position: absolute;
    height: 50px;
    top: 70px;
    left: -300px;
}
#two input:checked+#dq .d{
    opacity: 1;
    z-index: 21;
    position: absolute;
    height: 50px;
    left: 450px;
}
