/*全体*/
.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

/*ボタン装飾*/
.hidden_box label {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #FFF;
  background: #6eb7ff;
  border-bottom: solid 6px #3f87ce;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

/*ボタンホバー時*/
.hidden_box label:hover {
  border-bottom: solid 2px #3f87ce;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}


/*バック*/
.box13 {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0;
    padding: 0;
}
